@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("https://themes.googleusercontent.com/static/fonts/opensans/v8/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("https://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSha1RVmPjeKy21_GQJaLlJI.woff") format("woff");
}

body{
    magrin: 0 auto;
    padding: 0;
    background-image: url(../img/tlo.png);
    background-repeat: repeat;
    font-size: 13px;
}

.glyphicon-plus {
    color: #5bc0de;
    padding-right: 15px; 
}

.container{
    max-width: 985px;
}

hr{
    border-top-style: groove;
}

h1{
    font-family: Open Sans;
    font-weight: normal;
    font-size: 32px;
    line-height: 1.2;
    text-shadow: 1px 1px 0 #FFFFFF;
}

header p{
    height: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

header h1{
    font-size: 25px;
    text-align: right;
    margin-top: 10%;
}

header .container{
    margin-top: 0px;
    background-image: url(../img/poswiata.png);
    background-repeat: no-repeat;
}

header .row{
    min-height: 100px;
}

header img{
    margin-top: 10%;
} 

header .container hr{
    margin-bottom: 40px;
}

nav .container .row .col-sm-6:last-child img{
    max-width: 100%; 
    height: auto;
    padding: 7px 7px 7px 7px;
}

nav .container .row .col-sm-6:first-child{
    padding-right: 100px;
    font-size: 13px;
}

nav .container .row .col-sm-6:first-child a{
    padding: 15px 60px 15px 60px;  
}

nav .container .row .col-sm-6 h1{
    padding-top: 10px;
    padding-bottom: 15px;
}

nav .container hr{
    margin-top: 70px;
}

h2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.2;
    text-shadow: 1px 1px 0 #FFFFFF;
}

article .container .row .col-sm-6:first-child{
    padding-right: 10px;
    padding-bottom: 40px;
}

section img{
    max-width: 100%; 
    height: auto;
}

section .container .row .col-sm-12 .row .col-sm-9 p{
    padding: 25px 25px 25px 25px;
}

section .container .row .col-sm-12 .row .col-sm-3{
    text-align: right; 
}

section .container .row .col-sm-12 .row{
    padding-top: 25px;
}

section .container .row .col-sm-12 .row img{
    padding: 10px 10px 10px 10px;
}

aside{
    padding-top: 50px;
}

aside .container .row .col-sm-1 img{
    padding-top: 30px;
    max-width: 100%;
    padding-left: 15px;
}

aside .container .row .col-sm-3 img{
    padding: 10px 10px 10px 10px;
    margin-right: 10px; 
}

aside .container .row .col-sm-4 form a{
    padding-top: 15px;
    padding-bottom: 15px;
}

aside .container .row .col-sm-4 form input{
    height: 50px;
    width: 70%;
}

.strzalka{
    text-align: center;
    padding-left: 48%;
    position: relative; 
    bottom: -22px; 
    z-index: 2;
}

footer{
    background-image: url(../img/footer.png);
    background-repeat: repeat;
    width: 100%;
    text-align: center;
    min-height: 400px;
}

footer p{
    height: 10px;
}

footer .container .row .col-sm-12 h2{
    color: #b9e7ee;
    text-shadow: none;
}

footer .container .row .col-sm-12 p{
    color: white;
}

footer .container .row:last-child{
    padding-top: 50px;
}

@media screen and (max-width: 980px){
    h2{
        font-size: 25px;
    }
    nav .container .row .col-sm-6:first-child{
        padding-right: 10px;
    }
    nav .container .row .col-sm-6 h1{
        padding-top: 0px;   
    }
    nav .container .row .col-sm-6:last-child img{
        margin-top: 50px;
    }
    article .container .row .col-sm-6:first-child{
        padding-right: 0px;
        margin-right: 0px;
    }
    article .container .row .col-sm-6:first-child img{
        max-width: 45%; 
        height: auto;
    }
    aside .container .row .col-sm-3:first-child img{
        margin-bottom: 15px;
    }
    aside .container .row .col-sm-4{
        padding-right: 0px;
        padding-left: 0px;
    }
    aside .container .row .col-sm-4 form input{
        width: 150px;
        height: 50px;
    }
}

@media screen and (max-width: 768px){
    .container{
        max-width: 340px;
        min-width: 320px;
    }
    header h1{
        text-align: center;
    }
    header .container{
       background-size: contain;
       text-align: center;
    }
    nav .container .row .col-sm-6:first-child{
        text-align: center; 
    }
    article .container .row .col-sm-6:first-child img{
        max-width: 100%;
        margin-left: 17%; 
    }
    section .container .row .col-sm-12 .row .col-sm-3{
        text-align: center;
        padding-bottom: 20px;
    }
    aside .container .row .col-sm-1 img{
        visibility: hidden;
        width: 0px;
    }
    aside .container .row .col-sm-3{
        padding-bottom: 25px;
    }
    aside .container .row .col-sm-4{
        padding-right: 10px;
        padding-left: 15px;
        margin-top: -50px;
    }
    aside .container .row .col-sm-4 form input{
        height: 50px;
        width: 80%;
        display: inline;
    }
    footer .container .row:last-child .nuttun{
        position: relative;
        left: 25%;
        padding-top: 10px;
    }
    footer .container .row:last-child .puzltt{
        position: relative;
        left: 26%;
        padding-top: 20px;
    }
    footer .container .row:last-child .bokatte{
        position: relative;
        left: 13%;
        padding-top: 20px;
    }
    footer .container .row:last-child .pixle{
        position: relative;
        left: 20%;
        padding-top: 20px;
        padding-bottom: 35px;
    }
}



