
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("https://themes.googleusercontent.com/static/fonts/opensans/v8/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("https://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSha1RVmPjeKy21_GQJaLlJI.woff") format("woff");
}


body{
    magrin: 0 auto;
    padding: 0;
    background-image: url(../img/tlo.png);
    background-repeat: repeat;
}

.glyphicon-plus {
    color: #5bc0de;
    padding-right: 15px; 
}

.container{
    max-width: 985px;
}

hr{
    border-top-style: groove;
}

h1{
    font-family: Open Sans;
    font-weight: normal;
    font-size: 32px;
    line-height: 1.2;
    text-shadow: 1px 1px 0 #FFFFFF;
}

header p{
    height: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

header h1{
    font-size: 25px;
    text-align: right;
    margin-top: 10%;
}

header .container{
    margin-top: 0px;
    background-image: url(../img/poswiata.png);
    background-repeat: no-repeat;
}

header .row{
    min-height: 100px;
}

header img{
    margin-top: 10%;
} 

header .container hr{
    margin-bottom: 40px;
}

nav .container .row .col-xs-6:last-child img{
    max-width: 100%; 
    height: auto;
    padding: 7px 7px 7px 7px;
}

nav .container .row .col-xs-6:first-child{
    padding-right: 100px;
}

nav .container .row .col-xs-6:first-child a{
    padding: 15px 60px 15px 60px;
    font-size: 20px;
}

nav .container .row .col-xs-6 h1{
    padding-top: 10px;
    padding-bottom: 15px;
}

nav .container hr{
    margin-top: 70px;
}

h2{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.2;
    text-shadow: 1px 1px 0 #FFFFFF;
}

article .container .row .col-xs-6:first-child{
    padding-right: 50px;
    padding-bottom: 40px;
}

section img{
    max-width: 100%; 
    height: auto;
}

section .container .row .col-xs-12 .row .col-xs-9 p{
    padding: 25px 25px 25px 25px;
}

section .container .row .col-xs-12 .row .col-xs-3{
    text-align: right; 
}

section .container .row .col-xs-12 .row{
    padding-top: 25px;
}

section .container .row .col-xs-12 .row img{
    padding: 10px 10px 10px 10px;
}

aside{
    padding-top: 50px;
}

aside .container .row .col-xs-1 img{
    padding-top: 30px;
    max-width: 100%;
    padding-left: 50px;
}

aside .container .row .col-xs-3 img{
    padding: 10px 10px 10px 10px;
    margin-right: 10px; 
}

aside .container .row .col-xs-3{
    padding-right: -10px;
}

.strzalka{
    text-align: center;
    padding-left: 48%;
    position: relative; bottom: -22px; z-index: 2;
}

footer{
    background-image: url(../img/footer.png);
    background-repeat: repeat;
    width: 100%;
    text-align: center;
    min-height: 400px;
}

footer p{
    height: 10px;
}

footer .container .row .col-xs-12 h2{
    color: #5bc0de;
    text-shadow: none;
}

footer .container .row .col-xs-12 p{
    color: white;
}

footer .container .row:last-child{
    padding-top: 50px;
}





